.revisar_wrapper {
    padding: 2rem;
}

.revisar_titulo {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
}

th,
td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    /* bordes internos */
}

.fila_omitida {
    opacity: 0.55;
}

.fila_omitida .qty__btn {
    cursor: not-allowed;
}


.revisar_tabla {
    width: 97%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: visible;

    th,
    td {
        border: 1px solid #ccc;
        padding: 0.75rem;
        text-align: center;
    }

    th {
        background-color: #f0f0f0;
    }

    select,
    input[type="text"] {
        padding: 0.4rem;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 0.9rem;
    }
}

.revisar_footer {
    display: flex;
    justify-content: flex-end;
    width: 97%;
}

td.celda_activa {
    background-color: #c8f7dc !important;
    font-weight: bold;
    position: relative;
}


.revisar_btn_confirmar {
    padding: 0.75rem 1.5rem;
    background-color: #e3b505;
    color: rgb(42, 42, 42);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #cba204;
        color: white;
    }
}

.precio_celda {
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}

.boton-volver {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    border: 2px solid #d1d5db;
    background-color: #f9fafb;
    color: #111827;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    .icono {
        display: flex;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    &:hover {
        background-color: #f4f4f4;
        border-color: #595c62;
        color: #595c62;
    }

    &:active {
        transform: scale(0.98);
    }
}


.celda_kellerof:hover {
    background-color: #6be2f2b5;
    border: 1px solid #b2ebf2;
}

.celda_kellerof {
    padding: 0;
}